acl allow_recurse { 127.0.0.0/8; {{allow_recursion_from}} };

options {
	listen-on port 53 { 127.0.0.1; any; };
	listen-on-v6 port 53 { ::1; };
	directory 	"/var/named";
	dump-file 	"/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";
	allow-query     { localhost; {{allow_query_from}} };
	{% if dns_caching is defined %}
	allow-query-cache       { localhost; {{allow_query_from}} ; };
  recursion yes;
	{% endif %}

{% if dns_forwarding is defined %}
	        recursion yes;
        allow-query { localhost; {{allow_query_from}} };

        forwarders {
                8.8.8.8;
                8.8.4.4;
        };
        forward only;
{% endif %}

        max-cache-size 10M;
        files 10000;
        recursive-clients 100;
        tcp-clients 20;
        tcp-listen-queue 5;
        cleaning-interval 60;
        interface-interval 60;
        rrset-order { order cyclic; };
        edns-udp-size 4096;
        version none;
        hostname none;
        server-id none;

	dnssec-enable yes;
	dnssec-validation yes;
	dnssec-lookaside auto;

	allow-recursion { allow_recurse; };

	/* Path to ISC DLV key */
	bindkeys-file "/etc/named.iscdlv.key";

	managed-keys-directory "/var/named/dynamic";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };

        channel default {
                file "data/default.log" versions 10 size 5M;
                severity dynamic;
                print-category yes;
                print-severity yes;
                print-time yes;
        };
        channel general {
                file "data/general.log" versions 10 size 5M;
                severity dynamic;
                print-category yes;
                print-severity yes;
                print-time yes;
        };
        channel security {
                file "data/security.log" versions 10 size 5M;
                severity dynamic;
                print-category yes;
                print-severity yes;
                print-time yes;
        };
        channel config {
                file "data/config.log" versions 10 size 5M;
                severity dynamic;
                print-category yes;
                print-severity yes;
                print-time yes;
        };
        channel resolver {
                file "data/resolver.log" versions 10 size 5M;
                severity dynamic;
                print-category yes;
                print-severity yes;
                print-time yes;
        };
        channel xfer-in {
                file "data/xfer-in.log" versions 10 size 5M;
                severity dynamic;
                print-category yes;
                print-severity yes;
                print-time yes;
        };
        channel xfer-out {
                file "data/xfer-out.log" versions 10 size 5M;
                severity dynamic;
                print-category yes;
                print-severity yes;
                print-time yes;
        };
        channel client {
                file "data/client.log" versions 10 size 5M;
                severity dynamic;
                print-category yes;
                print-severity yes;
                print-time yes;
        };
        channel unmatched {
                file "data/unmatched.log" versions 10 size 5M;
                severity dynamic;
                print-category yes;
                print-severity yes;
                print-time yes;
        };
        channel network {
                file "data/network.log" versions 10 size 5M;
                severity dynamic;
                print-category yes;
                print-severity yes;
                print-time yes;
        };
        channel queries {
                file "data/queries.log" versions 10 size 5M;
                severity dynamic;
                print-category yes;
                print-severity yes;
                print-time yes;
        };
        channel lame-servers {
                file "data/lame-servers.log" versions 10 size 5M;
                severity dynamic;
                print-category yes;
                print-severity yes;
                print-time yes;
        };

        category default {default; };
        category general {general; };
        category security {security; };
        category config {config; };
        category resolver {resolver; };
        category xfer-in {xfer-in; };
        category xfer-out {xfer-out; };
        category client {client; };
        category unmatched {unmatched; };
        category network {network; };
        category queries {queries; };
        category lame-servers {lame-servers; };
};



{% for zone_name1 in zone_names %}

zone "{{zone_name1}}" IN {
   type master;
   file "{{zone_name1}}forward";
};

{% endfor %}


{% if forward_zones_reg == True %}
{% for zone_name2 in forward_zones %}

zone "{{zone_name2.zone}}" IN {
   type forward;
   forwarders { {{zone_name2.forwarders}} };
};
{% endfor %}
{% endif %}




zone "." IN {
	type hint;
	file "named.ca";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";
