$TTL 3600
{% for zone_name1 in zone_names %}
@ SOA ns.{{zone_name1}} root.{{zone_name1}} (1 15m 5m 30d 1h)
{% endfor %}
{% for name_server1 in name_servers %}
		IN	NS	{{name_server1}}
{% endfor %}
{% for mail_server1 in mail_servers %}
		IN	MX	{{mail_server1}}
{% endfor %}
		IN	A 	{{zone_address}}

{% for server1 in dns_server_list %}

{{server1.hostname}}	IN	A	{{server1.ip}}

{% endfor %}
